<!--<div style="text-align: center">
  <h1>
    {{ title }}
  </h1>
</div>
<app-contact
  *ngFor="let contact of contacts"
  [name]="contact.nameC"
  [phone]="contact.phoneC"
  [image]="contact.imageC"
  (contactEvent)="onShowDetails($event)"
></app-contact>
<app-contact-add (newContact)="addNewContact($event)"></app-contact-add>
<br />
<div style="text-align: center">
  <button (click)="addContactVide()">Ajouter contact vide</button>
</div>
<div *ngIf="contactDetailsName">
  <h1>Détails</h1>
  <app-details [name]="contactDetailsName"> </app-details>
</div>
-->

<router-outlet></router-outlet>
